<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta name="author" content="" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>CELEBTWO 안내메일</title>
</head>

<body>
<div style="width:682px; border-spacing:0;padding:5px;border: 1px solid #ddd;">
	<div style="width:672px;height:225px;">
		<img src="http://e.celebtwo.com/images/mail/mail_top.jpg" alt="CELEBTWO"/>
		<div style="position:relative;top:-240px;font-size:24px;font-weight:600;color:#fff;text-align: center;text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.5);">CB_SUBJECT</div>
	</div>

	<div style="position: relative;top:0px;width:672px;padding:0px;z-index:1;">
		<table cellpadding="0" cellspacing="0" border="0" style="width:672px; border-spacing:0;">	
			<tr>
				<td style="font-size: 14px; color: #3e3a39; font-weight: bold; height: 20px; line-height: 20px;" colspan="4"></td>
			</tr>	
			<tr>
				<td style="font-size: 19px; color: #595757; font-weight: bold; padding:20px 0 5px; line-height: 1.5;" colspan="4"><span style="vertical-align: middle;">안내 메일정보</span></td>
			</tr>
			<tr>
				<td colspan="4" style="padding-bottom: 6px;"><img src="http://e.celebtwo.com/images/mail/mail_line.jpg" alt="bar"/></td>
			</tr>
			<tr>
				<td>
					<table cellpadding="0" cellspacing="0" border="0" style="width:672px; border-spacing:0;">
						<tr>
							<td style="font-size: 0px; color: #595757; background: #f5f4f6; padding: 0px; width: 20%; border: 0px solid #c9c9c9; border-right: none;"></td>
							<td style="font-size: 0px; color: #595757; padding:0px; width: 30%; border: 0px solid #c9c9c9; border-right: none;"></td>
							<td style="font-size: 0px; color: #595757; background: #f5f4f6; padding: 0px; width: 20%; border: 0px solid #c9c9c9; border-right: none;"></td>
							<td style="font-size: 0px; color: #595757; padding:0px; width: 30%; border: 0px solid #c9c9c9;"></td>
						</tr>
						<tr>
							<td style="font-size: 13px; font-weight: 800; color: #595757; background: #f5f4f6; padding: 17px 20px; width: 20%; border: 1px solid #c9c9c9; border-right: none;">내용</td>
							<td colspan="3" style="font-size: 13px; font-weight: bold; color: #595757; padding: 10px 20px; width: 30%; border: 1px solid #c9c9c9; line-height: 20px;">CB_CONTENTS</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="height: 86px; font-size: 0; line-height: 0;" colspan="4"></td>
			</tr>
			<tr>
				<td style="padding: 25px 0; text-align: center; border-top: 1px solid #c9c9c9; border-bottom: 1px solid #c9c9c9; background: #f5f4f6; font-size: 12px; font-weight: bold; color: #3e3a39; line-height: 1.5;" colspan="4">
					본 메일은 발신전용으로 회신되지 않습니다. 문의 사항은 <a href="HOMEPAGE_CUSTOMER_URL" style="color: #ff0000; text-decoration: none;" target="_blank">[고객센터]</a>를 이용해주세요.
					<br>
					메일을 원하지 않는 경우, 로그인 후 회원정보변경에서 <a href="HOMEPAGE_ACCOUNT_URL" style="color: #ff0000; text-decoration: none;" target="_blank">[이메일 수신여부]</a>를 변경해 주십시오.
				</td>
			</tr>
			<tr>
				<td style="font-size: 0; vertical-align: middle;" colspan="4">
				<table style="width:672px;">
					<tr>
						<td style="padding: 10px 0 19px 144px; vertical-align: middle;">
							<a href="HOMEPAGE_URL" target="_blank"><img src="http://e.celebtwo.com/images/mail/mail_logo.jpg" style="border:none;" alt="FOOTER LOGO - CELEBTWO"></a>
						</td>
						<td style="text-align: left; font-size: 11px; color: #595757; font-weight: bold; line-height: 1.35; padding: 10px 0 19px" colspan="3">
							｜ 주소 : 서울특별시 서초구 반포대로30길 81 웅진타워 14층 <br>
							｜ 회사명 : (주)블록체인씨앤에스 ｜ 대표번호 : 02-523-6500 <br>
							｜ 통신판매신고번호 : 서초******호 대표이사 윤명철 
						</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td style="font-size: 11px; color: #888; line-height: 1.5; text-align: center;" colspan="4">Copyrightⓒ 2019 blockchainC&S All Rights Reserved</td>
			</tr>
		</table>
	</div>
 </div>
</body>
</html>